.bigComponent {
  background: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.14);
  -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  width: 270px;
  gap: 20px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 12%;
  left: 4%;
  padding: 17px;
  height: auto;
}

.bigComponent .dropdownContainer {
  width: 100%;
}

.bigComponent .dropdownContainer .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-top: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 40px;
  padding: 0px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bigComponent .dropdownContainer .drop p {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
  color: #545f7d;
  text-transform: capitalize;
}

.bigComponent .dropdownContainer .dropdownContent {
  background: #545f7d;
  border: 1px solid rgba(84, 95, 125, 0.14);
  -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.bigComponent .dropdownContainer .dropdownContent .dropdownItem {
  padding: 5px 14px;
  color: #ffffff;
  cursor: pointer;
}

.bigComponent .dropdownContainer .dropdownContent .dropdownItem:hover {
  background-color: #6a7183;
}

.bigComponent span {
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 16px;
  color: #545f7d;
}

.bigComponent input {
  width: 230px;
  height: 28px;
  border-radius: 10px;
  background: #ffffff;
  opacity: 0.2;
  border: 1px solid #213f7d;
  border-radius: 8px;
}

.bigComponent .orgainsation {
  text-align: left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bigComponent .orgainsation span {
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
  color: #545f7d;
}

.bigComponent .username,
.bigComponent .email,
.bigComponent .date,
.bigComponent .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bigComponent .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.bigComponent .buttons .reset {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  border-radius: 8px;
  padding: 15px 20px;
  cursor: pointer;
  border: 1px solid #545f7d;
  color: #545f7d;
}

.bigComponent .buttons .reset:hover {
  background-color: #545f7d;
  color: white;
}

.bigComponent .buttons .filter {
  background: #39cdcc;
  border: 1px solid #39cdcc;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  line-height: 16px;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 8px;
  padding: 15px 20px;
}

.bigComponent .buttons .filter:hover {
  background: inherit;
  color: #39cdcc;
}
/*# sourceMappingURL=BigComponent.module.css.map */