.userContainer {
  padding: 14px;
  height: calc(100vh - 70px);
  width: 80vw;
  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #213f7d;
  }.contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .cardComponent{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    // display: grid;
    //grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
  }.userListTable{
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    width: auto;
  }
  }
}
