.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  span{
    font-size: 27px;
    font-weight: 500;
    font-style: italic;
  }
}

.tableContainer {
  justify-content: space-around;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-bottom: 20px;
  @media screen and (max-width: 1200px) {
    width: 1000px !important;
   }

  .usetTableContainer {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
    svg{
      font-size: 15px;
      cursor: pointer;
    }
    .tableTr {
      display: flex;
      th{
        flex: 1;
        margin-right: 10px;
      }
      .tableTh {
        font-weight: 600;
        padding: 15px 4px ;
        text-align: left;
        font-size: 17px;
        line-height: 14px;
        flex: 1;
        text-transform: uppercase;
        color:#545f7d;
      }
    }
    .tabletray{
      justify-content: center;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}
