.tableContainer {
  justify-content: space-around;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-bottom: 20px;
  .usetTableContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    svg{
      font-size: 15px;
      cursor: pointer;
    }
    .tableTr {
      display: flex;
      justify-content: space-evenly;
      .tableTh {
        font-weight: 600;
        padding: 15px 4px ;
        text-align: left;
        font-size: 17px;
        line-height: 14px;
        text-transform: uppercase;
        color:#545f7d;
        border: 1px solid purple;
      }
    }
    .tabletray{
      justify-content: center;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}
