.cardContainer {
  width: 240px;
  height: auto;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  gap: 18px;
  padding:  22px 20px;
  display: flex;
  flex-direction: column;
  &:hover{
    box-shadow: 6px 10px 40px rgba(0, 0, 0, 0.21);

  }
  @media screen and (max-width: 1000px) {
     width: 140px;
   }
      svg{
          font-size: 46px;
          padding: 10px;
          border-radius: 50%;
          opacity: 0.9;
          @media screen and (max-width: 1000px) {
            font-size: 30px;
           }
      }
      

  .cardTitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #545F7D;
    @media screen and (max-width: 1000px) {
      font-size: 11px;
      line-height: 12px;
     }
  }
  .cardDetails{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #213F7D;
    @media screen and (max-width: 1000px) {
      font-size: 16px;
     }
  }
}
