.toogle {
  position: absolute;
}

.toogle svg {
  font-size: 35px;
  border-radius: 50%;
  padding: 10px;
  background-color: #e7e2e2;
}

.sidebarContainer {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 70px);
  overflow: hidden;
  overflow-y: scroll;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 820px) {
  .sidebarContainer {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
  }
}

.sidebarContainer .topItem {
  margin: 10px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.sidebarContainer .topItem p {
  font-weight: 400;
  font-size: 16px;
  line-height: 10px;
  margin-left: 16px;
  color: #213f7d;
}

@media screen and (max-width: 1000px) {
  .sidebarContainer .topItem p {
    display: none;
  }
}

.sidebarContainer .topItem svg {
  margin-right: 5px;
  margin-left: 10px;
  color: #213f7d;
}

@media screen and (max-width: 1000px) {
  .sidebarContainer .topItem svg {
    font-size: 37px;
  }
}

.sidebarContainer .Section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebarContainer .Section .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  margin-left: 22px;
  color: #545f7d;
}

@media screen and (max-width: 1000px) {
  .sidebarContainer .Section .title {
    margin-left: 10px;
  }
}

.sidebarContainer .Section .customerItem {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebarContainer .Section .customerItem:hover {
  background: #d6e6e6;
}

.sidebarContainer .Section .customerItem a {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 17px;
  line-height: 15px;
  color: #213f7d;
}

.sidebarContainer .Section .customerItem a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .sidebarContainer .Section .customerItem a p {
    display: none;
  }
}

.sidebarContainer .Section .customerItem a a:active {
  border-left: 4px solid #39cdcc;
}

.sidebarContainer .Section .customerItem a span {
  margin-left: 20px;
  margin-right: 15px;
}

@media screen and (max-width: 1000px) {
  .sidebarContainer .Section .customerItem a span svg {
    font-size: 40px;
  }
}
/*# sourceMappingURL=Sidebar.module.css.map */