.container {
  display: flex;
  width: 100%;
}
.active{
  border-left: 4px solid rgba(57, 205, 204, 1);
}
::-webkit-scrollbar {
  width: 12px;
}
.sub {
  flex: 4;
  height: calc(100vh - 70px);
  overflow: hidden;
  overflow-y: scroll;
}

.drop {
 
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}
