.usertabletrayContainer {
  display: flex;
  width: 100%;
  border: 1px solid black;
  justify-content: space-around;
  svg {
    font-size: 15px;
    cursor: pointer;
  }
  .tableTr {
    display: flex;
    border: 1px solid red;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 100%;
    .organisation,
    .email,
    .username,
    .phone,
    .date,
    .status 
    .statuss{
      padding: 14px 0px;
      width: auto;
      font-weight: 400;
      border: 1px solid green;
      font-size: 13.6px;
      line-height: 16px;
      color: #545f7d;
    }
    .organisation{
        width: 150px;
    }
  }
}
